.main {
    font-family: 'Oranienbaum', serif;
}

.menuBars {
    position: fixed;
    z-index: 4;
    width: 30px;
    left: 30px;
    top: 20px;
    cursor: pointer;
}

.header {
    position: absolute;
    z-index: 5;
    top: 3px;
    background-color: transparent;
    color: black;
    width: 72%;
    margin-left: 30px;
    height: 60px;
    font-size: larger;
}

.header>nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}


.header li {
    cursor: pointer;
    text-shadow: 1px 0 35px black;
}

.header a {
    text-decoration: none;
    color: black;
}

.closeOut {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 1px 0 33px gray;
    font-size: larger;
    cursor: pointer;
}

.navSideBar>ul {
    list-style: none;
}

.navSideBar li {
    font-size: larger;
    padding-bottom: 10px;
    cursor: pointer;

}

.navSideBar a,
.navSideBar Link {
    text-decoration: none;
    color: black;
}

.navSideBar li:hover {
    text-shadow: 1px 0 27px gray;
}